<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} 404</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <nav id="navbar">
      <li>
        <label id="home" style="left: 17%; position: absolute;">Welcome to {{ title }}!</label>
        <a href="/" id="home" >Home</a>
        <a href="/blog" id="home">Blog</a>
        {%if login %}
        <a href="/post" id="home">Post</a>
        <a href="signout"id="home" >Sign Out</a>
        {%else%}
        <a href="login"id="loginbutton" >Login</a>
        <a href="signup"id="signupbutton" >Sign Up</a>
        {%endif%}
      </li>
    </nav>
     <form id="lol">
      <br>
      <br>
        <h1 style="top: 10%;position: absolute;">404 Not Found</h1>
        <h2 style="top: 4em;position: absolute;">The page you are looking for is not here.</h2>
    </form>
  </body>
</html>
