<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
</head>
<body style="background-color:rgb(72, 78, 96)">
    <nav id="navbar">
      <li>
        <label id="home" style="left: 17%; position: absolute;">Welcome to {{ title }}!</label>
        <a href="/">Home</a>
        <a href="/blog" id="home">Blog</a>
        <a href="login">Login</a>
        <a href="signup">Sign Up</a>
      </li>
    </nav>
    <h1 style="color:rgb(129, 142, 179);margin:0; position:absolute; top:15%; left:50%; transform:translate(-50%, -50%);">Can you find the page?</h1>
    <h4 style="color:rgb(89, 97, 120);margin:0; position:absolute; top:40%; left:50%; transform:translate(-50%, -50%);">or can you not?</h4>
    <h6 style="color:rgb(69, 75, 93);margin:0; position:absolute; top:80%; left:50%; transform:translate(-50%, -50%);">Will you?</h6>
</body>
</html>