<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <nav id="navbar">
      <li>
        <label id="home" style="left: 17%; position: absolute;">Welcome to {{ title }}!</label>
        <a href="/" id="home" >Home</a>
        <a href="/blog" id="home">Blog</a>
        {%if login %}
        <a href="/post" id="home">Post</a>
        <a href="signout"id="home" >Sign Out</a>
        {%else%}
        <a href="login"id="loginbutton" >Login</a>
        <a href="signup"id="signupbutton" >Sign Up</a>
        {%endif%}
      </li>
    </nav>
    {% if login %}
     <form id="lol" action="{{ url_for('blog_post') }}" method="post">
    <div id="div" style="width: 30em;height: 30em;top: 20%;justify-content: center;display: grid;">
         <input type="text" name="title" id="username" placeholder="Title" style="transform: scale(2.8);left: 33%;top: 10%;"required>
        <textarea type="text" name="post" id="password" placeholder="" style="transform: scale(2);left: 33%;top: 40%;"rows="7" cols="20" wrap="soft"required></textarea>
        <button type="submit" name="submit" id="submit" style="top: 90%;transform: scale(1.5);left: 34%;">Post</button>
    </div>
    </form>
    {% endif %}
  </body>
</html>
